
/*
body
{
	margin:0px;

	background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

}

.wrapper
{
	height: 90vh;
	width: 80vw;
	max-width: 1100px;
	margin: 1rem auto;
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
	box-shadow: 1px 3px 30px rgba(0,0,0, 0.4)
	border-radius : 0.2em;
	position: relative;

}

.containerr
{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	overflow: hidden;
	height:100%;

}

.containerr .title
{
	width: 90%;
	height: 20%;
	text-align: center;
	padding: 2rem;
	margin: 9rem 0;

}

.containerr h1
{
	font-family: 'Lexend Deca', sans-serif;
	font-size: 3rem;
	color: #000;
}


.containerr p
{
	font-family: 'Muli',sans-serif;
	color:#000;
}

button
{
	font-family: 'Muli',sans-serif;
	font-size: 1rem;
	padding:8rem 2.3rem;
}

*/
html
{
	scroll-behavior: smooth;
}




*
{
	margin:0px;
	padding: 0px;

}

body
{
	margin:0px !important;
	padding: 0px !important;
	background-color: #e1eded !important;

}



header a
{
	padding: 10px 10px 10px 0px !important;
	display: flex !important;
	background-image: linear-gradient(45deg, #8baaaa 0%, #e1eded 100%)!important;
	text-decoration: none !important;
	color: black !important;

}

header a:hover
{
	padding: 10px 10px 10px 0px !important;
	display: flex !important;
	background-image: linear-gradient(45deg, #8baaaa 0%, #e1eded 100%)!important;
	text-decoration: none !important;
	color: black !important;
}



header h1
{
	margin: 0px !important;
	font-weight: bold !important;
	font-size: 25px !important;
	color: black !important;
}

header h2
{	
	margin: 0px !important;
	font-weight: bold !important;
	font-size: 25px !important;
	color: black !important;
}

header h4
{
	font-weight: 100 !important;
	font-size: 15px !important;
	color: black !important;	
}

header img
{
	height: 90px !important;

}

#main
{
	display: flex !important;
	position: sticky !important;
	top:0px !important;
	margin: 0px !important;
	padding: 10px 10px 10px 25px !important;
	border-radius: 0px 0px 10px 10px !important;
	box-shadow: 1px 2px 2px !important;
	border-top: 2px black solid !important;
	background-image: linear-gradient(45deg, #8baaaa 0%, #e1eded 100%) !important;
	z-index: 100 !important;

}

#main h3
{
	margin-left: 10px !important;
	position: relative !important;
	top: 7px !important;
	right:2px !important;
	font-weight: 500 !important;
	color: black !important;
	font-size: 19px !important;
}



#main h4
{
	border-radius: 23px !important;
	margin-left: 10px !important;
	margin-right:10px !important; 
	position: absolute !important;
	padding: 11px 10px !important;

}

#main h4:hover
{
	border:2px white solid !important;
	border-radius: 23px !important;
	margin-left: 10px !important;
	margin-right:10px !important; 
	position: absolute !important;
	padding: 10px 10px !important;
	background-color: #8baaaa !important;
	color: white !important;
}


#aboutus
{
	right: 100px !important;
}

#stores
{
	right: 30px !important;
}

#main img
{
	height: 35px !important;

}

.containerr
{
	box-shadow: 1px 3px 7px !important;
	padding: 10px 10px 10px 20px !important;
	margin: 10px 10px 10px 10px !important; 
	display: grid !important;
	grid-template-columns: repeat(2,1fr) !important;
	overflow: hidden !important;
	background-color: #eef3f3 !important;
	border-radius: 20px !important;
}











/*>>>>>>>>>>>>>>>>>>.......>>>>>>>>.............................................*/
