.container
{
	display: grid;
	padding: 20px 10px;

}

.donation-card
{
	margin: 10px;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 1px 1px 5px;
	background-color: #f8f7f5;
}


.qrcode-image
{
	height: 320px;
	border:2px solid black;
	border-radius: 20px;
	margin-bottom: 20px;

}

.organization-name
{
	font-family: Comic Sans MS, Courier;
}

p
{
	margin-top: 15px;
}