#my-search-bar
{
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px; 
}

#my-search-bar nav
{
	border: 1px solid black !important;
	border-radius: 10px !important;
	background-color: #ffffff !important;
}

.card
{
	box-shadow: 1px 1px 5px !important;
}


#area-for-events
{
	margin-top: 25px;
	width: 100%;
	overflow-wrap: break-word;
	display: inline-block;
	padding: 20px 50px 20px 50px;

}

.card-title
{
	font-weight: 900 !important;
}

.shop-longitude, .shop-lattitude, .center-lat , .center-long
{
	height: 0px;
	width:0px;
	opacity: 0;
}